[submodule "deck.js"]
	path = deck.js
	url = https://github.com/imakewebthings/deck.js.git
[submodule "highlight.js"]
	path = highlight.js
	url = https://github.com/isagalaev/highlight.js.git
[submodule "animate.css"]
	path = animate.css
	url = https://github.com/daneden/animate.css.git
